{:parallelism 4
 :objects [{:type     :triangle-list
            :vertices [{:x  0.0 :y  0.0 :z 0.0 :r 1.0 :g 0.0 :b 0.0}
                       {:x  1.0 :y -1.0 :z 0.0 :r 0.0 :g 1.0 :b 0.0}
                       {:x  1.0 :y  1.0 :z 0.0 :r 0.0 :g 0.0 :b 1.0}

                       {:x -0.5 :y  0.0 :z 0.5 :r 1.0 :g 0.0 :b 0.0}
                       {:x  0.5 :y -0.8 :z 0.5 :r 0.0 :g 1.0 :b 0.0}
                       {:x  0.5 :y  0.8 :z 0.5 :r 0.0 :g 0.0 :b 1.0}

                       {:x -1.5 :y  0.0 :z 0.25 :r 1.0 :g 0.0 :b 0.0}
                       {:x -0.3 :y -1.2 :z 0.25 :r 0.0 :g 1.0 :b 0.0}
                       {:x -0.3 :y  1.2 :z 0.25 :r 0.0 :g 0.0 :b 1.0}
                       ]}]
 :state {:viewport          [0 0 320 320]
         :fbport            [0 0 320 320]
         :depth-range       [0.0 1.0]
         :view-matrix       [1.0 0.0 0.0 0.0
                             0.0 1.0 0.0 0.0
                             0.0 0.0 1.0 0.0
                             0.0 0.0 0.0 1.0]
         :model-matrix      [1.0 0.0 0.0 0.0
                             0.0 1.0 0.0 0.0
                             0.0 0.0 1.0 0.0
                             0.0 0.0 0.0 1.0]
         :projection-matrix [1.0 0.0 0.0 0.0
                             0.0 1.0 0.0 0.0
                             0.0 0.0 1.0 0.0
                             0.0 0.0 0.0 1.0]
         }
 :framebuffer {:x      0
               :y      0
               :width  320
               :height 320
               }
}
