{:parallelism 1
 :objects [{:type   :cube
            :center [0.0 0.0 0.0]
            :x-size 0.3
            :y-size 0.3
            :z-size 0.3
            :color  {:r 0.5 :g 0.9 :b 0.8}
            }
           {:type   :cube
            :center [0.0 0.5 0.0]
            :x-size 0.1
            :y-size 0.2
            :z-size 0.1
            :color  {:r 0.9 :g 0.5 :b 0.8}
            }
           {:type   :cube
            :center [0.0 -0.5 0.0]
            :x-size 0.2
            :y-size 0.1
            :z-size 0.1
            :color  {:r 0.9 :g 0.8 :b 0.5}
            }
           {:type   :cube
            :center [0.5 0.0 0.0]
            :x-size 0.1
            :y-size 0.1
            :z-size 0.2
            :color  {:r 0.8 :g 0.5 :b 0.9}
            }
           {:type   :cube
            :center [-0.5 0.0 0.0]
            :x-size 0.1
            :y-size 0.1
            :z-size 0.1
            :color  {:r 0.8 :g 0.9 :b 0.5}
            }
           ]
 :state {:viewport          [0 0 320 320]
         :fbport            [0 0 320 320]
         :depth-range       [0.0 1.0]
         :view-matrix
         ;;(look-at [5.0 2.0 -5.0] [0.0 0.0 0.0] [0.0 1.0 0.0])
         [-0.7071067811865476 0.0 -0.7071067811865476 0.0 -0.19245008972987526 0.9622504486493764 0.19245008972987526 0.0 0.6804138174397717 0.2721655269759087 -0.6804138174397717 -7.3484692283495345 0.0 0.0 0.0 1.0]
         :model-matrix      [1.0 0.0 0.0 0.0
                             0.0 1.0 0.0 0.0
                             0.0 0.0 1.0 0.0
                             0.0 0.0 0.0 1.0]
         :projection-matrix
         ;; (frustum -1.0 1.0 -1.0 1.0 1.0 10.0)
         ;;[10.0 0 0.0 0 0 10.0 0.0 0 0 0 -1.2222222222222223 -2.2222222222222223 0 0 -1 0]
         ;;(perspective (Math/toRadians 10) 1.0 1.0 10.0)
         [11.430052302761345 0 0 0 0 11.430052302761345 0 0 0 0 -1.2222222222222223 -2.2222222222222223 0 0 -1 0]
         }
 :framebuffer {:x      0
               :y      0
               :width  320
               :height 320
               }
}
